body{background-image:url(asset/FondSite.png) ;}
#menu_ico{
    width:50px;
    height: auto;
}
ul{
    background-color: aquamarine;
    list-style: none;
    position: absolute;
    left: 0px;
    padding-left: 0px;
}
li{
    margin: 0px;
    padding: 20px;
    border: 2px solid black;
    width: 110px;
    font-size: 20px;
}
#liste_page{
    background-color: aqua;
    display: none;
}
#fun{
    position: absolute;
    right: 5%;
    top: 5%;
}

#img_down{
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#logo{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}


footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 0;
    width: 100%;
    background-color: rgb(40, 39, 38);
    display: flex;
    justify-content: space-around;
}
header{
    display: flex;
    justify-content: space-between;

}
h1{
    padding: 0px;
    margin: 10px;
}
.insta{
    padding: 10px;
    width: 50px;
    height: auto;
}
#img_logo:hover{
    -webkit-animation: bounce 1s linear;
}


@-webkit-keyframes bounce {
	0% {}
    50%{transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}